body {
	background-image: url(../image/fon.jpg);
}

#currency {
	float : left;
	margin : 5px;
	margin-top: 10px;
	font-size : 20px;
}

#siteName {
	float : left;
	margin : 5px;
	margin-left: 20%;
	font-size : 40px;
}

#language {
	float : right;
	margin : 5px;
	margin-top: 10px;
	font-size : 20px;
}

#buttons {
	float : right;
	margin : 5px;
	margin-top: 20px;
}

.block {
	margin: 15px;
	/*padding-left: 10%;*/
}

.textDiv {
	width: 50px;
}

.descriptionTextArea {
	background-color: #7DA5AD;
}
