<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <!--<filter>-->
        <!--<filter-name>springSecurityFilterChain</filter-name>-->
        <!--<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>-->
    <!--</filter>-->

    <!--<filter-mapping>-->
        <!--<filter-name>springSecurityFilterChain</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

</web-app>




<!--&lt;!&ndash;<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">&ndash;&gt;-->

<!--&lt;!&ndash;</web-app>&ndash;&gt;-->

<!--<web-app xmlns="http://java.sun.com/xml/ns/javaee"-->
         <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
         <!--xsi:schemaLocation="-->
             <!--http://java.sun.com/xml/ns/javaee-->
             <!--http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"-->
         <!--version="3.0">-->

    <!--&lt;!&ndash;<security-constraint>&ndash;&gt;-->
        <!--&lt;!&ndash;<web-resource-collection>&ndash;&gt;-->
            <!--&lt;!&ndash;<web-resource-name>secured</web-resource-name>&ndash;&gt;-->
            <!--&lt;!&ndash;<url-pattern>/security/*</url-pattern>&ndash;&gt;-->
            <!--&lt;!&ndash;<http-method>GET</http-method>&ndash;&gt;-->
            <!--&lt;!&ndash;<http-method>POST</http-method>&ndash;&gt;-->
        <!--&lt;!&ndash;</web-resource-collection>&ndash;&gt;-->
        <!--&lt;!&ndash;<auth-constraint>&ndash;&gt;-->
            <!--&lt;!&ndash;<role-name>ADMIN</role-name>&ndash;&gt;-->
        <!--&lt;!&ndash;</auth-constraint>&ndash;&gt;-->
    <!--&lt;!&ndash;</security-constraint>&ndash;&gt;-->

    <!--&lt;!&ndash;<security-role>&ndash;&gt;-->
        <!--&lt;!&ndash;<role-name>ADMIN</role-name>&ndash;&gt;-->
    <!--&lt;!&ndash;</security-role>&ndash;&gt;-->

    <!--&lt;!&ndash;<login-config>&ndash;&gt;-->
        <!--&lt;!&ndash;<auth-method>BASIC</auth-method>&ndash;&gt;-->
    <!--&lt;!&ndash;</login-config>&ndash;&gt;-->

    <!--&lt;!&ndash;<login-config>&ndash;&gt;-->
        <!--&lt;!&ndash;<auth-method>FORM</auth-method>&ndash;&gt;-->
        <!--&lt;!&ndash;<form-login-config>&ndash;&gt;-->
            <!--&lt;!&ndash;<form-login-page>/login.html</form-login-page>&ndash;&gt;-->
            <!--&lt;!&ndash;<form-error-page>/error.html</form-error-page>&ndash;&gt;-->
        <!--&lt;!&ndash;</form-login-config>&ndash;&gt;-->
    <!--&lt;!&ndash;</login-config>&ndash;&gt;-->

    <!--&lt;!&ndash;Позволяет работать с русскими символами&ndash;&gt;-->
    <!--&lt;!&ndash;<filter>&ndash;&gt;-->
        <!--&lt;!&ndash;<filter-name>encodingFilter</filter-name>&ndash;&gt;-->
        <!--&lt;!&ndash;<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>&ndash;&gt;-->
        <!--&lt;!&ndash;<init-param>&ndash;&gt;-->
            <!--&lt;!&ndash;<param-name>encoding</param-name>&ndash;&gt;-->
            <!--&lt;!&ndash;<param-value>UTF-8</param-value>&ndash;&gt;-->
        <!--&lt;!&ndash;</init-param>&ndash;&gt;-->
        <!--&lt;!&ndash;<init-param>&ndash;&gt;-->
            <!--&lt;!&ndash;<param-name>forceEncoding</param-name>&ndash;&gt;-->
            <!--&lt;!&ndash;<param-value>true</param-value>&ndash;&gt;-->
        <!--&lt;!&ndash;</init-param>&ndash;&gt;-->
    <!--&lt;!&ndash;</filter>&ndash;&gt;-->
    <!--&lt;!&ndash;<filter-mapping>&ndash;&gt;-->
        <!--&lt;!&ndash;<filter-name>encodingFilter</filter-name>&ndash;&gt;-->
        <!--&lt;!&ndash;<url-pattern>/*</url-pattern>&ndash;&gt;-->
    <!--&lt;!&ndash;</filter-mapping>&ndash;&gt;-->


    <!--&lt;!&ndash;<filter>&ndash;&gt;-->
        <!--&lt;!&ndash;<filter-name>springSecurityFilterChain</filter-name>&ndash;&gt;-->
        <!--&lt;!&ndash;<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>&ndash;&gt;-->
    <!--&lt;!&ndash;</filter>&ndash;&gt;-->

    <!--&lt;!&ndash;<filter-mapping>&ndash;&gt;-->
        <!--&lt;!&ndash;<filter-name>springSecurityFilterChain</filter-name>&ndash;&gt;-->
        <!--&lt;!&ndash;<url-pattern>/*</url-pattern>&ndash;&gt;-->
    <!--&lt;!&ndash;</filter-mapping>&ndash;&gt;-->

<!--</web-app>-->